# Data Exploration

In [1]:
# Import required packages
import pandas as pd

In [2]:
merged_file = "../data/merged_troll_data.json"
troll_2016_no_rt = "../data/troll_data_2016_no_rt.csv"
troll_2016 = "../data/troll_data_2016.csv"
troll_june_nov = "../data/troll_jun_to_nov_v2.csv"

merged_df = pd.read_json(merged_file)

In [3]:
merged_df.groupby('troll').count()

,content,followers,following,retweet,account_category,created_at,orig_index
troll,,,,,,,
False,166252,166252,166252,166252,166252,166252,166252
True,166252,166252,166252,166252,166252,166252,166252

In [4]:
merged_df.groupby('account_category').describe()
merged_df = merged_df.astype({'account_category': 'category', 'content': 'string'})
merged_df.dtypes

content                     string
followers                    int64
following                    int64
retweet                      int64
account_category          category
created_at          datetime64[ns]
troll                         bool
orig_index                   int64
dtype: object

In [5]:
merged_df = merged_df.drop(columns=['orig_index'])
merged_df = merged_df.reset_index(drop=True)

In [8]:
merged_df.describe()
# Retweet column with max of 1? Should remove probably

          followers      following        retweet
count  3.325040e+05  332504.000000  332504.000000
mean   7.935872e+03    3008.364465       0.740890
std    2.066285e+05    7711.247498       0.438147
min    0.000000e+00       0.000000       0.000000
25%    6.120000e+02     541.000000       0.000000
50%    1.144000e+03    1135.000000       1.000000
75%    2.431000e+03    2293.000000       1.000000
max    4.086668e+07  680956.000000       1.000000

In [10]:
merged_df = merged_df.drop(columns=['retweet'])